@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
/* width */
::-webkit-scrollbar {
  width: 10px;
  
}

a:visited{
  text-decoration: white;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border: 0.5px solid white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FC6847;
  border: 1px solid white;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e74c3c;
}

.navbar{
  width: 100%;
  height: 4rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgba(252, 104, 71);
  display: flex;
  justify-content: space-between;
  /* justify-content: center; */
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 3;
}
.navbar li {
  margin-top: -56px;
  float: left;
  padding-left: 3rem;
}
.navbar li a{
  margin-top: 10px;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.navbar .nav{
  margin-right: 5rem;
}

.logonav{
  margin-top: -15px;
  height: 200px;
  margin-left: -5rem;
  margin-bottom: 4px;
  margin-right: -2rem;
}

.container {
  width: 100%;
  height: 40rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.grid-1 {
  width: 50%;
  height: 651px;
  background: url(../../public/image.jpg) no-repeat center center ;
  background-image: url(../../public/image.jpg);
  background-size: cover;
  overflow: hidden;
  z-index: 2;
}

.overlay {
  background: rgba(252, 104, 71, 0.7);
  color: #fff;  
  width: 100%;
  height: 651px;  
  display: flex;    
  align-items: center;   
  justify-content: center; 
}

.grid-2 {
  width: 50%;
  height: 40rem;
  margin-top: 11px;
  margin-bottom: -10px;
}

.form-session-register{
  padding-top:30px;
  /* margin-top: 10rem; */
}
.form-session-login{
  padding-top: 2rem;
  margin-top: 7rem;
}
image{
  align-items: center;
}

.images {
  opacity: 0.5;
}

.form-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}
.form-register {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  margin-top: -2%;
}

.title {
  text-align: center;
}

.form-item{
  margin-bottom: 3%;
}
  
.form-item .form-input {
  width: 273px;
  height: 40px;
  border: 1px solid grey;
  border-radius: 6px;
  margin-top: -5px;
  padding-left: 7%;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 1px solid #e74c3c
}
input[type=password]:focus {
  border: 1px solid #e74c3c
}
input[type=email]:focus {
  border: 1px solid #e74c3c
}
input[type=number]:focus {
  border: 1px solid #e74c3c
}
input[type=search]:focus {
  border: 1px solid #e74c3c
}
.text-comment:focus {
  border: 1px solid #e74c3c
}

input .search-header{
  font-family:Arial, FontAwesome;
  width: 40rem;
  border-left: none;
}
.search-group{
  width: 30rem;
}
span .search-icon{
  border-right: none;
}

input[type=number]:focus {
  border: 1px solid #e74c3c
}

.form-item .submit{
  width: 273px;
  height: 40px;
  border-radius: 6px;
  /* margin-top: 1%;  */
  border: none;
  background-color: #FC6847;
  color: #fff ;
}

.logojipen{
  width: 70%;
  align-items: center;
  justify-content: center;
}

.subtitle{
  color: grey;
  margin-top: -4px;
  font-size: 13px;
}
.placeholder::-webkit-input-placeholder{
    color: grey;
  }


label{
  margin-bottom: 5%;
  font-size: 13px;
  font-weight: 500;
}
.box{
  display: flex;
  align-items: center;
}
.box p{
  margin-left: 2%;
  font-weight: 500;
  font-size: 14px;
}
.box input{
  accent-color: #e74c3c;
}
.sub-p{
  text-align: center;
  font-weight: 500;
  font-size: 14px;

}
.sub-p a{
  margin-left: 2%;
  text-decoration: none;
  color: #FC6847;

}

.container-home {
  width: 100%;
  height: 42rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cols{
  width: 321.219px;
  background-color: #fff;
  height: 35rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding-left: 5rem;
  padding-top: 9rem;
  justify-content: center;
}
.cols h1{
  margin-left: 1rem;
  font-size: 40px;
  display: flex ;
  font-weight: 500;
  flex-direction: column;
  width: 20rem;
}
.cols input{
  width: 120%;
  height: 3rem;
  border: none;
  background-color: #EFEFEF;
  border-radius: 8px;
  border: 1px solid grey;
  /* padding-left: 2rem; */
  padding-right: 2rem;
  margin-left: 1rem;
}
.cols-2{
  width: 300px;
  background-color: #FC6847;
  height: 45rem;
}

.pict{
  width: 30rem;
  height: 40rem;
  margin-top: 8px;
  margin-right: -650px;
  z-index: 2;
  border-radius: 10px;

}
.container-fav {
  width: 100%;
  height: 50rem;
  display: flex;
  flex-direction: row;
}
.fav{
  width: 2rem;
  height: 8rem;
  background-color: #FC6847;
  margin-left: 6rem;
  margin-top: 4rem;
}
.fav-text{
  margin-left: 20px;
  margin-top: 105px;
  font-size: 30px;
}
.fav-img{
  width: 500px;
  height: 500px;
  z-index: 2;
  margin-left: -18rem;
  margin-top: 18rem;
  border-radius: 15px;
  transition: 0.5s;
  object-fit: cover;

}
.fav-img:hover{
  width: 500px;
  height: 500px;
  margin-top: 20rem;
  border-radius: 15px;
  z-index: 2 ;

}
.only-border{
  width: 500px;
  height: 500px;
  margin-left: -29rem;
  margin-top: 20rem;
  border: 2px solid #FC6847;
  border-radius: 15px;
}

.container-fav .fav-sub{
  width: 30%;
  margin-top: 24rem;
  margin-left: 10rem;
}
.fav-sub .underline{
  margin-top: -2rem;
  font-size: 25px;
  transition: 1s;
  
}
.fav-sub .underline:hover{
  margin-top: -2rem;
  margin-left: 10rem;
  font-size: 25px;
}
.fav-sub button{
  width: 6rem;
  height: 2rem;
  border: none;
  border-radius: 6px;
  /* margin-top: 1%;  */
  background-color: #FC6847;
}
a{
  color: #fff ;
  text-decoration: none;
}
input[type=search]:focus {
  border: 1px solid #e74c3c
}

/* .container-fav .underline{
  margin-right: 20rem;
  z-index: 3;
} */

.thumbs-section{
  padding-left: 5rem;

}

.thumb{
  width: 2rem;
  height: 8rem;
  background-color: #FC6847;
  margin-left: 6rem;
  margin-top: 4rem;
}

.thumb-text{
  margin-left: 20px;
  margin-top: 105px;
  font-size: 30px;
}
.container-recipe {
  display: flex;
  flex-direction: row;
}

.recipe-img{
  width: 600px;
  height: 60%;
  object-fit: cover;
  border-radius: 15px;
}

.ingre-sec{
  font-size: 18px;
  padding-left: 7rem;
  
  /* margin-bottom: 25rem;
  /* margin-top: -30rem; */

}
.vid-1{
  background-color: #FC6847;
  width: 10rem;
  height: 55px;
}
.comment{
  z-index: 2;
  /* margin-bottom: -25rem; */
  font-size: 20px;
}
.text-comment{
  padding: 1rem;
  width: 100%;
  height: 15rem;
  resize: none;
  border: none;
  background-color: rgb(212, 212, 212);
  border-radius: 8px;
  margin-bottom: 2rem;
}

.button{
  background-color: #FC6847;
  color: white;
  width: 30%;
  height: 40px;
}

.button:hover{
  background-color: #dd5c40;
  color: white;
  width: 30%;
  height: 40px;
}

.comment-title{
  font-size: 20px;
  z-index: 2;
  padding-bottom: -10rem;
}

.pfp-user{
  width: 60px;
  height: 60px;
}
.pfp-profile{
  width: 100px;
  height: 100px;
  margin-top: -14rem;
}
.comment-user{
  font-size: 30px;
}

.add-img{
  background-color: rgb(215, 215, 215);
  margin-top: 5rem;
  margin-bottom: 2rem;
  width: 100%;
  height: 25rem;
  border-radius: 10px;
}
 
.add-ingre{
  background-color: rgb(215, 215, 215);
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  height: 25rem;
  border-radius: 10px;
  resize: none;
}
.add-title{
  background-color: rgb(215, 215, 215);
  margin-top: 2rem;
  width: 100%;
  height: 3rem;
  border-radius: 10px;
  padding-left: 2rem;
}
.add-vid{
  background-color: rgb(215, 215, 215);
  /* margin-top: 2rem; */
  width: 100%;
  height: 3rem;
  border-radius: 10px;
  padding-left: 2rem;
  padding-top: 13px;
}

.profile{
  margin-top: 15rem;
  height: 10rem;
}
.edit{
  margin-right: -5rem;
  margin-top: -15px;
  color: red;
}

.orange-thing{
  background-color: #FC6847 ;
  width: 3rem;
  height: 41rem;
}
.pan-vid{
  width: 800px;
  height: 400px;
  object-fit: cover;
  margin-top: 8rem;
  border-radius: 10px;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.recipe-row {
  display: flex;
  gap: 1rem; /* Adjust the gap as needed */
}

.logout-btn{
  margin-right: -5rem;
  margin-top: -3rem;
  position: absolute;
  right: 150px;
}

.sender-user{
  margin-top: -1rem;
}

.user p {
  font-size: 14px;
}

.container-edit {
  width: 60%;
  height: 40rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-info{
  margin-right: 5rem;
}

.eye{
  margin-left: -2rem;
  margin-top: 2wpx;
}

.sub-check{
  margin-top: 12px;
}

.box{
  margin-top: -5px;
}

.popup {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
  border-radius: 5px;
  animation: fadeOut 3s ease-in-out;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
