/** @format */

.container {
  width: 100%;
  height: 50rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.grid-1 {
  width: 50%;
  height: 50rem;
  background: url(../../public/image.jpg) no-repeat center center ;
  background-image: url(../../public/image.jpg);
  background-size: cover;
  overflow: hidden;
  z-index: 2;
}

.overlay {
  color: #fff;
  width: 100%;
  height: 50rem;  
  display: flex;    
  align-items: center;   
  justify-content: center; 
}

.grid-2 {
  width: 50%;
  height: 50rem;
}

.form-session{
  margin-top: 5rem;
}
image{
  align-items: center;
}

.images {
  opacity: 0.5;
}

.form-register {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.title {
  text-align: center;
}

.form-item{
  margin-bottom: 3%;
}
  
.form-item .form-input {
  width: 250px;
  height: 40px;
  border-radius: 6px;
  margin-top: 3%;
  padding-left: 7%;
}

.form-item .submit{
  width: 273px;
  height: 40px;
  border-radius: 6px;
  margin-top: 3%; 
  background-color: rgba(252, 104, 71);
  color: #fff ;
}

.logojipen{
  width: 70%;
  align-items: center;
  justify-content: center;
}

.subtitle{
  color: grey;
  margin-top: -1%;
}
.placeholder::-webkit-input-placeholder{
    color: grey;
    /* padding-left: 7%; */
  }

label{
  margin-bottom: 5%;
  font-size: 13px;
  font-weight: 500;
}
.box{
  display: flex;
  align-items: center;
}
.box p{
  margin-left: 2%;
  font-weight: 500;
  font-size: 14px;
}
.box input{
  accent-color: #e74c3c;
}
.sub-p{
  text-align: center;
  font-weight: 500;
  font-size: 14px;

}
.sub-p a{
  margin-left: 2%;
  text-decoration: none;
  color: #e74c3c;

}

