.footer{
    background-color: #FC6847;
    margin-top: 2rem;
    color: white;
    display: flex;
    width: 100%;
}

.footer li {
    margin-top: -56px;
    float: left;
    padding-left: 3rem;
    list-style-type: none;

  }
.footer li a{
    margin-top: 10px; 
    color: white;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    font-size: small;
}
  
  .footer .foot{
    margin-right: 5rem;
  }
